@model _19T1021289.DomainModels.ProductAttribute
@{
}

<style>
    .div-img {
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



        .div-img img {
            position: absolute;
            width: 55%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            /*            border: 1px solid #555;
    */
        }
</style>

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-8">
                <form class="form-horizontal" action="~/Product/SaveAttribute" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.AttributeID)
                    @Html.HiddenFor(m => m.ProductID)

                    <div class="form-group">
                        <label class="control-label col-sm-2">Tên thuộc tính:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.AttributeName, new { @class = "form-control", @placeholder = "" })
                            @Html.ValidationMessageFor(m => m.AttributeName, "", new { @style = "color:#f00" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Giá trị thuộc tính:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.AttributeValue, new { @class = "form-control", @placeholder = "" })
                            @Html.ValidationMessageFor(m => m.AttributeValue, "", new { @style = "color:#f00" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Thứ tự hiển thị:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "form-control", @placeholder = "" })
                            @Html.ValidationMessageFor(m => m.DisplayOrder, "", new { @style = "color:#f00" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i> Lưu dữ liệu
                            </button>
                            <a class="btn btn-warning" href="~/product">
                                <i class="fa fa-ban"></i> Quay lại
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="box-footer text-center">
    </div>

</div>


