@model _19T1021289.Web.Models.SupplierSearchOutput

@{
    Layout = null;
}

<p>Có <strong>@string.Format("{0:N0}",@Model.RowCount)</strong> nhà cung cấp trong  <strong>@string.Format("{0:N0}",@Model.PageCount)</strong> trang</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Tên nhà cung cấp</th>
            <th>Tên giao dịch</th>
            <th>Địa chỉ</th>
            <th>Quốc gia</th>
            <th>Thành phố</th>
            <th>Mã bưu chính</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>@item.SupplierName</td>
                <td>@item.ContactName</td>
                <td>@item.Address</td>
                <td>@item.Country</td>
                <td>@item.City</td>
                <td>@item.PostalCode</td>
                <td class="text-right">
                    <a href="~/Supplier/Edit/@item.SupplierID" class="btn btn-primary">Sửa</a>
                </td>
                <td>
                    <a href="~/Supplier/Delete/@item.SupplierID" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }
    </ul>
</div>
